<!-- book-list.component.html -->

<div class="book-display-card">
  <!-- Book display content goes here -->
  <div class="book-list">
    <div class="book-item" *ngFor="let book of myReadingList">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            <img [src]="book.cover" class="img-fluid rounded-start" style="height: 10em;width: 8em;" />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{ book.author }}</p>
              <p class="card-text">
                <small class="text-body-secondary">{{ book.genre }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
