<div class="title-card">
  <h1>Add a book to your list</h1>
</div>
<br />
<div class="add-book-card">
  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="formGroup">
          <p-autoComplete
            formControlName="selectedBook"
            [(ngModel)]="selectedBook"
            [suggestions]="filteredBooks"
            (completeMethod)="filterBook($event)"
            field="title"
            placeholder="Book name"
            id="autoComplete"
            [appendTo]="'body'"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            class="p-autocomplete"
          ></p-autoComplete>
        </form>
      </div>
      <div class="col">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="status"
          [style]="{ height: '100%' }"
          required
        >
          <option selected disabled>Status</option>
          <option value="Completed">Completed</option>
          <option value="Ongoing">Ongoing</option>
        </select>
      </div>
    </div>

    <br />
    <button class="btn btn-primary" (click)="addBook()">Add to My List</button>
  </div>
</div>
