<p>search-filter works!</p>
<div class="search-card">
  <!-- Add book form or content goes here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Genres</option>
          <option value="romance">Romance</option>
          <option value="mistery">Mistery</option>
          <option value="horror">Horror</option>
          <option value="science">Science</option>
          <option value="poetry">Poetry</option>
          <option value="History">History</option>
          <option value="business">Business</option>
          <option value="kids">Kids</option>
          <option value="French">French</option>
          <option value="English">English</option>
        </select>
      </div>
      <div class="col-6">
        <input
          type="text"
          class="form-control"
          placeholder="search for a book"
        />
      </div>
      <div class="col">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
