// add-book.component.scss

.add-book-card {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
}

.add-book-card {
  z-index: 1; // Ensure the add-book-card is above the book-display-card
}

.row {
  margin-top: 10px;
}

.btn, .form-select {
  width: 100%;
}