<div class="add-book-card">
  <!-- Add book form or content goes here -->
  <div class="container text-center">
    <input type="text" class="form-control" placeholder="Add a book" />
    <div class="row">
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Status</option>
          <option value="completed">Completed</option>
          <option value="progress">In progress</option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-primary">Add to My List</button>
      </div>
    </div>
  </div>
</div>
