.home-page {
  background: url("https://images.alphacoders.com/132/1326370.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  margin-top: 6em;
}
