.scrollable-list {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.book-card {
  display: inline-block;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}
.books-by-genre {
  z-index: 2;
}
