<div class="card">
  <h5 class="card-header">{{ genre }}</h5>
  <div class="card-body">
    <div class="scrollable-list">
      <div class="scrolling-wrapper">
        <div class="book-card" style="width: 18rem">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <!-- Add more items as needed -->
      </div>
    </div>
  </div>
</div>

<!--Next horizontal list-->
